*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins' ,sans-serif;
}
body{
    background: radial-gradient(#eef0f3,#90cff3);
    width: 100%;
    height: 100vh;

}

            .navbar{
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px; 
            margin: 0;
            
            }

            nav{
            
            flex: 1;
            text-align: right;   
            }
            nav ul{
            display: inline-block;
            list-style-type: none;   
            }
            nav ul li{
            display: inline-block;
            margin-right: 20px;
            }

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555; /*color of text name*/
}

.container{
    max-width: 1265px;
    margin: auto;
    padding: left 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 40px 0;
    margin: 30% 0 0 -25%;
}
 .col-2 #price{
color:#3a8deb ;
 }
 .col-2 #Text{
color: #ff523b;
position: absolute;
 }
                            /*-----------price in home page------------*/

 #cash{
     color: #ff523b;
    font-weight: bold;
 }


.btn{
        display: inline-block;
        background: #3a8deb;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
}
.btn:hover{
        background:#755c5c;
}

.categories{
        margin: 100px 0 0 0;
        position: relative;
    }


.small-container{
                max-width: 1080px;
                margin: auto;
                padding-left: 25px;
                padding-right: 25px;
}

.col-4{
                flex-basis: 25%; 
                padding: 10px;
                min-width: 200px;
                margin-bottom: 50px;
                transition: transform 0.5s;
}
.col-4 img{
width: 100%;
}

.title{
                text-align: center;
                margin: o auto 80px;
                position: relative;
                line-height: 60px;
                color: #555;
}

.title:after{
                                        content: '';
                                        background: #3a8deb;
                                        width: 140px;
                                        height: 5px;
                                        border-radius: 5px;
                                        position: absolute;
                                        bottom: 0;
                                        left: 50%;
                                        transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

#Quantity{
    color: #ff523b;
    position: absolute;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 7px;
    font-size: 14px;
    
    
}

.Rp:after{
    content: '';
    background: #3a8deb;
    width: 255px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:288px;
    transform: translateX(-50%);
    margin-bottom: -346px;
}

.more{
    border-width: 1.5px;
    border-style: solid;
    border-color: #000000;
    border-radius: 30px;
    background: #000;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    margin: 30px 0;
    transition: background 0.001s;
}

.more:hover{
    background:#3a8deb;
    border-color: #3a8deb;
}



/*-------------footer-------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 0;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1 .footer-col-2 .footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    margin-left: 80px;
}
.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin: 20px;
}
.app-logo img{
    width: 140px;

}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    
}
/*--------------- media query formenu ------------------*/
@media only screen and (max-width: 800px){
nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(94, 91, 91, 0.438);
    width: 120px;
    overflow: hidden;
    transition: max-height 0.5s;
    margin-left: 260px;
    
    
}
nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    

}
nav ul li a{
    color: #fff;
    }   
.menu-icon{
    display: block;
    cursor: pointer;
    }
}
/*----------------all products page-----------------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 010px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
    .page-btn span{
        display: inline-block;
        border: 1px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color:#fff;
}

.input:focus{
    outline: none;  
}
.fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*----------------------- data-page -----------------------*/
    




.form-box
{
    margin: 150px 0 7px 0;
    width: 520px;
    height:740px;
    background: rgba(0, 0, 0, 0.5);
    Color: #fff;
    top: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 90px 30px;
    left: 1000px;

}





h2{
    margin: 0;
    padding: 0 20px ;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 60px;
    left: 110px;
}


.form-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(197, 197, 197);
}

.form-box input{
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

.form-box input[type="text"], input[type="number"]
{
font-size: 16px;
border: none;
border-bottom: 1px solid #fff; 
background: transparent;
outline: none;
height: 40px;
color:#fff;
}

.form-box input[type="submit"]
{
    border: 1px solid;
    outline: none;
    height: 40px;
    width: 100px;
    background:linear-gradient(to bottom, #1c8adb,#0d588d);
    color: #fff;
    font-size: 18px;
    border-radius: 10px 0 10px 0;
    margin: 30px 0 20px auto;
   
}

.form-box input[type="reset"]
{
    border: 1px solid;
    outline: none;
    height: 40px;
    width: 100px;
    background:linear-gradient(to bottom, #1c8adb,#0d588d);
    color: #fff;
    font-size: 18px;
    border-radius: 0 10px 0 10px;
    margin-left: 250px;
    margin-right: 5px;
}

.form-box input[type="submit"]:hover
{
    cursor: pointer;
    background:linear-gradient(to bottom, rgb(90, 243, 70), #0a750f);
    /* color: #000; */
}

#clear[type="reset"]:hover
{
    cursor: pointer;
    background:linear-gradient(to bottom, rgb(250, 98, 98), #9e0808);
    
}



.form-box a
{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}


.form-box a:hover
{
    color: #27e7d7;
}



/*-------------footer-------------*/
.footer{
    position: absolute;
    top: 1200px;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 30px;
}
.footer-col-1 .footer-col-2 .footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
 .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin: 20px;
    justify-content: center;
}
.app-logo img{
    width: 140px;

}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
    width: 1250px;

}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    
}


/*--------------- media query formenu ------------------*/
@media only screen and (max-width: 800px){
nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(94, 91, 91, 0.438);
    width: 120px;
    overflow: hidden;
    transition: max-height 0.5s;
    margin-left: 260px;
    
    
}
nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    

}
nav ul li a{
    color: #fff;
    }   
.menu-icon{
    display: block;
    cursor: pointer;
    }
}
/*-----------------------media quer for less than 600 screen size-----------------------*/
@media only screen and (max-width: 600px){
    .row{
        text-align:center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .cart-info p{
        display: none;
    }
}

                                        /* profile photo */
                                        
.wrapper{
    height: 100px;
    width: 100px;
    position: relative;
    border: 3px solid #3a8deb;
    /* border-radius: 50%;  */
    background: url('icons/imgs1.png');
    background-size: 100% 100%;
    margin: 0 12px 0 0;
    overflow: hidden;
}

.wrapper:hover{
    border: 2px solid #0fb633;
}

.my_file{
    position: absolute;
    bottom: -20px;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 40px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0,0,200,0.5);
    opacity: 0;
    right: 3px;
    
}

.my_file::-webkit-file-upload-button{
    visibility: hidden;
}
.my_file::before{
    content: '\f030';
    font-family: fontAwesome;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    -webkit-user-select: none;
    /* rigth: -80px; */
}
.my_file::after{
    content: 'Upload';
    font-family: 'arial';
    font-weight:bold;
    color: #fff;
    display: block;
    top: 24px;
    font-size: 8px;
    position: absolute;
    left: 39px;
    text-align: center;

}
.my_file:hover{
    opacity: 1;
    
    background: rgba(0, 200, 0, 0.5);
}
.p4{
    width: 100%;
    height: 120px;
    /* border: rgb(252, 8, 8) 3px solid; */
    position: relative;
    padding: 10px;
    text-align: center;
    justify-items: center;

}
.g1{
    position: absolute;
    margin: 10px 0 0 0;
    top: 0;
    left: 10px;
}
.g2{
    position: absolute;
    margin: 10px 0 0 110px;
    top: 0;
}
.g3{
    position: absolute;
    margin: 10px 0 0 220px;
    top: 0;
}
.g4{
    position: absolute;
    margin: 10px 0 0 330px;
    top: 0;
}



/* The container */
.container-radio{
    display: block;
    position: relative;
    padding-left: 35px;
    margin:20px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: rgb(197, 197, 197);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark:after {
       top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  h3{
      margin-top: 7px;
  }
  textarea{
      background: none;
      border: solid white 2px;
      width: 100%;
      height: 120px;
      border-radius: 10px;
      color: rgb(255, 255, 255);
      font-size: 14px;
      padding: 7px;
  }
  ::-webkit-input-placeholder{
      color: #a59f9f;
  }
  
