<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.5">
        <title>about</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-------profil-photo-link------->
        <link rel="stylesheet" href="about-style.css">
    </head>
    <body>
        <div class="header"></div>
            <div class="container">
                <div class="navbar">
                    <div class="logo"> 
                        <a href="index.html"> <img src="icons/logo.png" width="125px"></a>
                    </div>
                        <nav>
                            <ul id="MenuItems">
                                <li><a href="index.html">Home</a></li>  
                                <li><a href="Performances.html">Performances</a></li>  
                                <li><a href="#">About</a></li>  
                                <li><a href="Contact.html">Contact</a></li>  
                                <li><a href="#">Account</a></li>  
                            </ul>
                        </nav>
                        <a href="#" ><img src="icons/cart.png" width="30px" height="30px" alt="Logo"> </a>
                        <img src="icons/menu.png" class="menu-icon" onclick="menutoggle()">
                </div>
            </div>
        </div>


                <!-- core -->
        <div class="big-container">
            <div class="top">
                <h1 id="about">ABOUT US</h1>
                <p id="explain">Our mission is to keep the world smaller for you, to book your seat in the school that you want to study in, without missing your opportunity while looking for it and getiing tired of looking, save your time and money, start to explore around the country for the school you want from your home, your journy is going to start from here, life is getting easier now! </p>
            </div>
            <div class="center">
                <h2 id="cover">WHY USE OUR WEBSITE?</h2>
                <div class="photos">
                    <img class="ps ps-1" src="images/search.jpg" alt="img-1">
                    <p class="tips tips-1">You can search without signing up to our website from the home page, quickly and smoothly for free.</p>


                    <img class="ps ps-2" src="images/location.jpg" alt="img-2">    
                    <p class="tips tips-2">● Everything needed to find schools that is not far from the student's home area is available here with just a click of a button.</p>

                        
                    <img class="ps ps-3" src="images/stress.jpg" alt="img-3">
                        <p class="tips tips-3">● Our site is characterized by providing everything you need to collect all the information about the school that suits the student adequately and easily and only by a finger tab for free and from the pillow of your bed.</p>


                    <img class="ps ps-4" src="images/register.jpg" alt="img-4">
                        <p class="tips tips-4"> ● You can fill out the registration form for the school of your choice through our website, and on it, the school will verify your data and make you a student there.</p>
                </div>
            </div>
            <div class="bottom">
                <div class="img-slider">
                                            
                    <!-- strat between -->

                        <!-- image slider start -->
                    <div class="Gallary">
                        <div class="slider">
                            <div class="slides">
                                <!-- radio button start  -->
                                <input type="radio" name="radio-btn" id="radio1" >
                                <input type="radio" name="radio-btn" id="radio2" >
                                <input type="radio" name="radio-btn" id="radio3" >
                                <input type="radio" name="radio-btn" id="radio4" >
                                 <!-- radio buttons end / -->
                                 <!-- slid images start -- -->
                                <div class="slide first">
                                    <img src="images/1.jpg" alt="photo">
                                </div>
                                <div class="slide">
                                    <img src="images/2.jpg" alt="">
                                </div>
                                
                                <div class="slide">
                                    <img src="images/3.jpg" alt="">
                                </div>
                                
                                <div class="slide">
                                    <img src="images/4.jpg" alt="">
                                </div>
                                <!-- !-- slid images end --> 
                                <!-- automatic navigation start -- -->
                                <div class="navigation-auto">
                                    <div class="auto-btn1"></div>
                                    <div class="auto-btn2"></div>
                                    <div class="auto-btn3"></div>
                                    <div class="auto-btn4"></div>
                                 </div><!-- automatic navigation end -->
                                
                            </div>


                            <!-- manual navigation start  -->
                            <div class="navigation-manual">
                                <label for="radio1" class="manual-btn"></label>
                                <label for="radio2" class="manual-btn"></label>
                                <label for="radio3" class="manual-btn"></label>
                                <label for="radio4" class="manual-btn"></label>
                            </div> <!-- manual navigation end  -->
                                
                        </div>  <!-- image slider end -->
                                
                    </div>  
                    <!--end between -->
                </div>
                <div class="details">
                    <p>Enjoy the best services provided by my school site.  All you need to save time and effort will be taken care of by our distinguished school site. 
                        We will be very happy to adopt our position in choosing the gates of the bright future for making soldiers of education in our beautiful society.
                        Follow us on social media</p>
                </div>
            </div>


        </div> <!-- container end  -->

            <div class="teams">
                
   <div class="team-title">
    <h1 id="tit">Meet Our Team</h1>
    </div>   

<div class="rows">
  <div class="column">
    <div class="card">
      <img src="images/amjed.jpg" alt="Amjed" style="width:100%">
      <div class="container">
        <h2>Amjed Mohamed</h2>
        <p class="title">Front-end</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p id="email">example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/ali.jpg" alt="Ali" style="width:100%">
      <div class="container">
        <h2>Ali Awad</h2>
        <p class="title">Back-end</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p id="email">example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="images/calender.jpg" alt="Zainab" style="width:77.5%">
      <div class="container">
        <h2>Dr. Zainab</h2>
        <p class="title">Supervisor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p id="email">example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

            </div>
                        <!-- ----------footer---------- -->
                        <div class="footer">
                            <div class="container">
                                <div class="row">
                                    <div class="footer-col-1">
                                        <h3>Download Our App</h3>
                                        <p>Download App for Android and ios mobile phone.</p>
    
                                        <div class="app-logo">
                                            <img src="icons/play-store.png">
                                            <img src="icons/app-store.png">
                                        </div>
                                    </div>
                                    <div class="footer-col-2">
                                        <img src="icons/logo-white.png" alt="footer Logo">
                                        <p>
                                            Our Purpose is Provide Families to Find Home by Easier Ways
                                            and<br>Faster and Make Life More Safer and <br>Comfortable for all Families.
                                        </p>
                                    </div>
                                    <div class="footer-col-4">
                                        <h3>Follow us</h3>
                                        <ul>
                                            <li>YouTuobe</li>
                                            <li>Instagram</li>
                                            <li>Facebook</li>
                                            <li>Twitter</li>
                                        </ul>
                                    </div>                
                                </div> <!-- !--row close-- -->
                                <hr>
                                <p class="Copyright">Copyright 2021- Mohamed_Ali</p>
                            </div>
                        </div>
                        <!-- footerclose  -->

                                                                  
                    <!------- js for toggle menu ------->
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";
                function menutoggle(){
                    if(MenuItems.style.maxHeight == "0px")
                    {
                        MenuItems.style.maxHeight = "200px";
                    }
                    else{
                        MenuItems.style.maxHeight = "0px";
                    }
                }
            </script>


            <!------------------ js script for automatic ---------------- -->
            <script>
                var counter = 1;
                setInterval(function(){
                    document.getElementById('radio' + counter).checked =
                    counter++;
                    if(counter>4){
                        counter = 1;
                    }
                }, 5000);
            </script> 

</body>
</html>