{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.5">
        <title>Contact - Us</title>
        
        <link rel="stylesheet" href="{% static 'school/contact-style.css' %}"/>
        
        <link href="https://fonts.googleapis.com/css2?
        family=Poppins:wght@300;400;500;600;700;&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-
        awesome/4.7.0/css/font-awesome.min.css">


                                  <!-----------------contact us link icons-------------------->
                                  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="constyle.scss">

 </head>
<body>

<div class="background-contact">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                    <a href="index.html">  <img src="icons/logo.png" width="125px"> </a>
             </div>
             <nav>
                <ul class="white" id="MenuItems">
                    <li><a href="index.html">Home</a></li>  
                    <li><a href="Browse.html">Browse</a></li>  
                    <li><a href="login.html">Admin</a></li>                   
                    <li><a href="Contact.html">Contact</a></li>
                    <li><a href="About.html">About</a></li>
                    <li class="log"><a href="login.html">Login</a></li>
                    </ul>
             </nav>
                    
         </div> 

 </div>
 

        <h2 class="statment"> Get in Touch </h2>
        <div class="bg-callcenter">
            <img src="images/callcenter.png">
        </div>


<!------------------------------------- contact us icons------------------------------------->

<!-- Add font awesome icons -->
<div class="fa">

    <!-- -----------------------------copied-text code----------------------------- -->
   
    <div class="tooltip">
        <button onclick="myFunction()" onmouseout="outFunc()">
          <span class="tooltiptext" id="myTooltip"></span>

<a href="#" class="fa fa-phone" title="copy: +249 962345340 "></a> 

</button>
        </div>
        <input type="text" value="0962345340" id="myNumber"  >

<a href="https://mail.google.com/mail/" class="fa fa-envelope" title="go to gmail"></a>


<a href="https://www.google.com/maps/place/The+Future+University/@15.5480816,32.5518827,17z/data=!4m12!1m6!3m5!1s0x168e903eacd653b5:0xfb2dc4224ad34512!2sThe+Future+University!8m2!3d15.5480764!4d32.5540714!3m4!1s0x168e903eacd653b5:0xfb2dc4224ad34512!8m2!3d15.5480764!4d32.5540714"
 class="fa fa-map-marker" title="our location Sudan-Khartoum"></a>



</div>

        <div class="container-form">
          <form action="">

            <label for="fullname">Name</label>
            <input type="text" id="funame" name="fulltname" placeholder="Enter your name.." required>
        
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email.." required>
       
            <label for="city">City</label >
          <select id="city" name="city" title="Select your city" required>
              <option placeholder="Select your city"></option>
              <option value="australia">Bahri</option>
              <option value="Khartoum">Khartoum</option>
              <option value="Omdrman">Omdrman</option>

            </select>
        
            <label for="subject">Message</label>
            <textarea  class="textarea" id="subject" name="subject" placeholder="i love your web appiication but it would so useful if you guys put a payment method to pay school fees via the Madrasaty, can you solve that if you guys do that i'll be so grateful, respect"
             aria-required="true"></textarea>
        
           
           <!------------------------------------- map area code ------------------------------------->
            <!-- <iframe class="map" src="https://www.google.com/maps/embed?pd=!1m18!1m12!1m3!1d30153.
            788252261566!2d72.82321484621745!3d19.141690214227783!2m3!1f0!2f0!3f0!3m2!li1024!2i768!4f13.
            1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maha
            rashtra%20400047!5e0!3m2!1sen!2sin!4v1634314289650!5m2!1sen!2sin"
            allowfullscreen="" loading="lazy" ></iframe> -->

           
           
                          <!-----------------js alart code--------onclick="javascript:alert('Are you sure!')" ------------>

         <input type="submit" id="sendme" value="Send" title="Click to Send"></form>
        

    </div>
</div>
        





               <!------------footer------------>
 <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>

                    <div class="app-logo">
                        <img src="icons/play-store.png">
                        <img src="icons/app-store.png">
                    </div>
                     </div>
                     <div class="footer-col-2">
                        <img src="icons/logo-white.png">
                        
                        <p>
                            Our mission is to keep the world smaller for you,<br> to book your seat in the school that you want to study in,
                            <br>your journy is going to start from here, life is getting easier now!
                        </p>
                             </div>

                     <div class="footer-col-4">
                        <h3>Follow us</h3>
                        <ul>
                            <li>YouTuobe</li>
                            <li>Instagram</li>
                            <li>Facebook</li>
                            <li>Twitter</li>
                        </ul>
             </div>
                             
        </div>
        <hr>
        <p class="Copyright">Copyright 2021- Amjed & Ali</p>
    </div>
 </div>
                                            <!-------js for toggle menu------->
 <script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
 </script>

                              <!----------------------------js code for confirm button on contact page btn id="sendme" | message---------------------------->
<script>
    var input = document.getElementById("myInput");
    input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
       event.preventDefault();
       document.getElementById("myBtn").click();
      }
    });
    </script>


<!-- --------------------------------------copied text script-------------------------------------- -->


<script>
function myFunction() {
  var copyText = document.getElementById("myNumber");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value);
  
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "";
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "";
}

</script>

</body>
</html>
