<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.5">
        <title>Statement</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-------profil-photo-link------->
        <link rel="stylesheet" href="data-style.css">
    </head>
    <body>
        <div class="header"></div>
            <div class="container">
                <div class="navbar">
                    <div class="logo"> 
                        <a href="index.html"> <img src="icons/logo.png" width="125px"></a>
                    </div>
                        <nav>
                            <ul id="MenuItems">
                                <li><a href="index.html">Home</a></li>  
                                <li><a href="Performances.html">Performances</a></li>  
                                <li><a href="About.html">About</a></li>  
                                <li><a href="Contact.html">Contact</a></li>  
                                <li><a href="#">Account</a></li>  
                            </ul>
                        </nav>
                        <a href="#" ><img src="icons/cart.png" width="30px" height="30px" alt="Logo"> </a>
                        <img src="icons/menu.png" class="menu-icon" onclick="menutoggle()">
                </div>
            </div>
        </div>

                                        <!------------------------ data-page ------------------------>
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <img id="fam" src="images/image1.png" width="100%" >
                            </div>
                            <div class="bakground"> 
                                <div class="form-box" id="data-form">

                                    <form action="" method="POST" enctype="multipart/form-data" id="data-form">

                            
                                            <h2>Enter your Personal data</h2>
                                    
                                                <div class="wrapper"> <!--add profile photo  -->
                                                    <input type="file" class="my_file" required>  
                                                </div>
                                                
                                                <p>Fullname</p>
                                                <input type="text" name="fullname" placeholder="Enter Your Fullname"required>
                                                <p>Address</p>
                                                <input type="text" name="address" placeholder="Enter Your Address"required>
                                                <p>Phone</p>
                                                <input type="tel" name="phone" placeholder="Enter You number"required>
                                                <p>ID</p>
                                                <input type="text" name="id" placeholder="Enter Your id number"required>



<!-- list-design -->
    <div class="selector">
        <div id="selectField">
            <p id="selectText" required>Identify type of your ID</p>
            <img id="upIcon" src="icons/up.png" >
        </div>
        <ul id="list" class="hide" >

            <li class="options">
                <p>Passport</p>
            </li>   
            <li class="options">
                <p>Licence</p>
            </li>   
            <li class="options">
                <p>NRC</p>
            </li>    
            <li class="options">
                <p>ID</p>
            </li>     
        </ul>
    </div>
                                          <div style="overflow:auto;">
                                            <div style="float:right;">
                                              <button type="reset" id="clear">Clear</button>
                                              <button type="submit" id="nextBtn">Continue</button>
                                            </div>
                                          </div>
                                        
                                    </form>
                                </div> <!--form-box close-->
                            </div>
                        </div><!--row close-->
                    </div>

                        <!------------footer------------>
                    <div class="footer">
                        <div class="container">
                            <div class="row">
                                <div class="footer-col-1">
                                    <h3>Download Our App</h3>
                                    <p>Download App for Android and ios mobile phone.</p>

                                    <div class="app-logo">
                                        <img src="icons/play-store.png">
                                        <img src="icons/app-store.png">
                                    </div>
                                </div>
                                <div class="footer-col-2">
                                    <img src="icons/logo-white.png" alt="footer Logo">
                                    <p>
                                        Our Purpose is Provide Families to Find Home by Easier Ways
                                        and<br>Faster and Make Life More Safer and <br>Comfortable for all Families.
                                    </p>
                                </div>
                                <div class="footer-col-4">
                                    <h3>Follow us</h3>
                                    <ul>
                                        <li>YouTuobe</li>
                                        <li>Instagram</li>
                                        <li>Facebook</li>
                                        <li>Twitter</li>
                                    </ul>
                                </div>                
                            </div><!--row close-->
                            <hr>
                            <p class="Copyright">Copyright 2021- Mohamed_Ali</p>
                        </div>
                    </div><!--footerclose-->

<!-- list-script -->
<script>
    var selectField = document.getElementById("selectField");
    var selectText = document.getElementById("selectText");
    var options = document.getElementsByClassName("options");
    var list = document. getElementById("list");
    var upIcon = document. getElementById("upIcon");

    selectField.onclick = function() {
        list.classList.toggle("hide");
        upIcon.classList.toggle("rotate");
    }

    for(option of options) {
        option.onclick = function() {
            selectText.innerHTML = this.textContent;
            list.classList.toggle("hide");
            upIcon.classList.toggle("rotate");
        }
    }
</script>

                                                    
                    <!------- js for toggle menu ------->
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";
                function menutoggle(){
                    if(MenuItems.style.maxHeight == "0px")
                    {
                        MenuItems.style.maxHeight = "200px";
                    }
                    else{
                        MenuItems.style.maxHeight = "0px";
                    }
                }
            </script>

          
    </body>
</html>