{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>admin-login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'school/Login-style.css' %}"/>
    </head>


 <body>
     <div class="bakground">
     <div class="login-box">
        <a href="index.html"><img src="icons/MD.png" class="MD" title="Go to Home Page"></a>
         <h1>Login</h1>
         

     
         <form>
             <p>Username</p>
             <input type="text" name="Schoolname" placeholder="Enter schoolname" required>
              <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" required>
               <a href="#"> <input type="submit" name="submit" value="Login"> </a>
               <a href="#">Forgot password ?</a> 
               <a href="School-signup.html" class="sign-up">Don't have an account?(for schools only)</a>
            </form>

</div>
        </div>
    </body>
</HTML>
